.App a {
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.App .content {
  max-width: 1320px;
}

.App .title {
  text-align: center;
}

.App .mapless-link {
  max-width: 960px;
  text-align: right;
}

.App .description {
  max-width: 960px;
}
