.App .game {
  border: thick double;
}

.App .game .controls {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.App .game .controls .won {
  color: green;
  font-size: large;
  font-weight: bold;
}
