.App .text-results {
  height: 450px;
  background-color: #f5f5f5;
  font-size: small;
  overflow-y: scroll;
}

.App .text-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App .text-results .last-match {
  color: green;
}

.App .text-results .missed {
  color: red;
}
